@model string

@{
    ViewBag.Title = "Catégories d'activités";
}

<h2>@ViewBag.Title</h2>

<p>
    <br />
    <a href="/CategoriesActivite/Create" class="btn btn-success btn-xs">Nouvelle</a>
</p>

<div id="categories">
    @Html.Raw(@Model)
</div>
